In [26]:
import pandas as pd
import numpy as np
import json 
from pprint import pprint
import matplotlib.pyplot as plt

firefox = ['../data/Firefox50_bugs.json', '../data/Firefox51_bugs.json', '../data/Firefox52_bugs.json',
           '../data/Firefox53_bugs.json', '../data/Firefox54_bugs.json', '../data/Firefox55_bugs.json']

core = ['../data/Core50_bugs.json', '../data/Core51_bugs.json', '../data/Core52_bugs.json',
           '../data/Core53_bugs.json', '../data/Core54_bugs.json', '../data/Core55_bugs.json']

android = ['../data/Android50_bugs.json', '../data/Android51_bugs.json', '../data/Android52_bugs.json',
           '../data/Android53_bugs.json', '../data/Android54_bugs.json', '../data/Android55_bugs.json']

df = pd.DataFrame()
for target in firefox:
    with open(target) as data_file:
        data = json.load(data_file)
        dtemp = pd.DataFrame(data)
        dtemp = pd.DataFrame([dtemp['bugs'][n] for n in range(0, len(dtemp.index))])
        df = pd.concat([df, dtemp])
    
dfirefox = df

In [27]:
df = pd.DataFrame()
for target in core:
    with open(target) as data_file:
        data = json.load(data_file)
        dtemp = pd.DataFrame(data)
        dtemp = pd.DataFrame([dtemp['bugs'][n] for n in range(0, len(dtemp.index))])
        df = pd.concat([df, dtemp])
    
dcore = df

In [28]:
df = pd.DataFrame()
for target in android:
    with open(target) as data_file:
        data = json.load(data_file)
        dtemp = pd.DataFrame(data)
        dtemp = pd.DataFrame([dtemp['bugs'][n] for n in range(0, len(dtemp.index))])
        df = pd.concat([df, dtemp])
    
dandroid = df

In [29]:
dfirfox = dfirefox.sort_values(by='last_change_time')
f55 = dfirefox.loc[dfirefox['cf_status_firefox55'] == 'fixed'].drop_duplicates(subset=['id'])
f54 = dfirefox.loc[dfirefox['cf_status_firefox54'] == 'fixed'].drop_duplicates(subset=['id'])
f53 = dfirefox.loc[dfirefox['cf_status_firefox53'] == 'fixed'].drop_duplicates(subset=['id'])
f52 = dfirefox.loc[dfirefox['cf_status_firefox52'] == 'fixed'].drop_duplicates(subset=['id'])
f51 = dfirefox.loc[dfirefox['cf_status_firefox51'] == 'fixed'].drop_duplicates(subset=['id'])
f50 = dfirefox.loc[dfirefox['cf_status_firefox50'] == 'fixed'].drop_duplicates(subset=['id'])

c55 = dcore.loc[dcore['cf_status_firefox55'] == 'fixed'].drop_duplicates(subset=['id'])
c54 = dcore.loc[dcore['cf_status_firefox54'] == 'fixed'].drop_duplicates(subset=['id'])
c53 = dcore.loc[dcore['cf_status_firefox53'] == 'fixed'].drop_duplicates(subset=['id'])
c52 = dcore.loc[dcore['cf_status_firefox52'] == 'fixed'].drop_duplicates(subset=['id'])
c51 = dcore.loc[dcore['cf_status_firefox51'] == 'fixed'].drop_duplicates(subset=['id'])
c50 = dcore.loc[dcore['cf_status_firefox50'] == 'fixed'].drop_duplicates(subset=['id'])

a55 = dandroid.loc[dandroid['cf_status_firefox55'] == 'fixed'].drop_duplicates(subset=['id'])
a54 = dandroid.loc[dandroid['cf_status_firefox54'] == 'fixed'].drop_duplicates(subset=['id'])
a53 = dandroid.loc[dandroid['cf_status_firefox53'] == 'fixed'].drop_duplicates(subset=['id'])
a52 = dandroid.loc[dandroid['cf_status_firefox52'] == 'fixed'].drop_duplicates(subset=['id'])
a51 = dandroid.loc[dandroid['cf_status_firefox51'] == 'fixed'].drop_duplicates(subset=['id'])
a50 = dandroid.loc[dandroid['cf_status_firefox50'] == 'fixed'].drop_duplicates(subset=['id'])

In [30]:
pfirefox = pd.DataFrame( [f55['priority'].value_counts(), 
                   f54['priority'].value_counts(), 
                   f53['priority'].value_counts(), 
                   f52['priority'].value_counts(), 
                   f51['priority'].value_counts(), 
                   f50['priority'].value_counts()], 
                 index=['Firefox55', "Firefox54", "Firefox53", "Firefox52", "Firefox51", "Firefox50"]).T
pfirefox.loc['Total'] = pfirefox.sum()
pfirefox

       Firefox55  Firefox54  Firefox53  Firefox52  Firefox51  Firefox50
--           448        175        224        241        176        185
P1           308         58        101        165        159        136
P2            82         33         75         69         54         64
P3           166         62         90         69         72         47
P4             2          1          2          2          5          2
P5            11          3          7          6         10         11
Total       1017        332        499        552        476        445

In [31]:
pcore = pd.DataFrame( [c55['priority'].value_counts(), 
                       c54['priority'].value_counts(), 
                       c53['priority'].value_counts(), 
                       c52['priority'].value_counts(), 
                       c51['priority'].value_counts(), 
                       c50['priority'].value_counts()], 
                     index=['Firefox55', "Firefox54", "Firefox53", "Firefox52", "Firefox51", "Firefox50"]).T
pcore.loc['Total'] = pcore.sum()
pcore

       Firefox55  Firefox54  Firefox53  Firefox52  Firefox51  Firefox50
--          2820       1617       1750       1707       1540       1671
P1           470        197        344        361        260        213
P2           238         91        126        145         83        104
P3           367        206        311        351        269        157
P4            23          3         11          7          6          7
P5            34         18         32         45         37         20
Total       3952       2132       2574       2616       2195       2172

In [39]:
pandroid = pd.DataFrame( [a55['priority'].value_counts(), 
                       a54['priority'].value_counts(), 
                       a53['priority'].value_counts(), 
                       a52['priority'].value_counts(), 
                       a51['priority'].value_counts(), 
                       a50['priority'].value_counts()], 
                     index=['Firefox55', "Firefox54", "Firefox53", "Firefox52", "Firefox51", "Firefox50"]).T
pandroid.loc['Total'] = pandroid.sum()
pandroid

       Firefox55  Firefox54  Firefox53  Firefox52  Firefox51  Firefox50
--         200.0       88.0      121.0       80.0       63.0       95.0
P1          55.0       36.0       48.0       56.0       36.0       22.0
P2           9.0        5.0       14.0       21.0       10.0       12.0
P3          14.0        3.0       25.0        5.0       13.0        2.0
P4           NaN        NaN        1.0        NaN        NaN        NaN
P5           NaN        1.0        5.0        NaN        3.0        2.0
Total      278.0      133.0      214.0      162.0      125.0      133.0

In [42]:
contributors = pd.DataFrame( { 'Firefox': 
                               [f55['assigned_to'].value_counts().count(), f54['assigned_to'].value_counts().count(), f53['assigned_to'].value_counts().count(),
                                f52['assigned_to'].value_counts().count(), f51['assigned_to'].value_counts().count(), f50['assigned_to'].value_counts().count()],
                              'Core':
                               [c55['assigned_to'].value_counts().count(), c54['assigned_to'].value_counts().count(), c53['assigned_to'].value_counts().count(),
                                c52['assigned_to'].value_counts().count(), c51['assigned_to'].value_counts().count(), c50['assigned_to'].value_counts().count()],
                              'Android':
                               [a55['assigned_to'].value_counts().count(), a54['assigned_to'].value_counts().count(), a53['assigned_to'].value_counts().count(),
                                a52['assigned_to'].value_counts().count(), a51['assigned_to'].value_counts().count(), a50['assigned_to'].value_counts().count()],
                          },
                         index=['Firefox55', "Firefox54", "Firefox53", "Firefox52", "Firefox51", "Firefox50"], 
                         columns=['Firefox', 'Core', 'Android']).T
contributors

         Firefox55  Firefox54  Firefox53  Firefox52  Firefox51  Firefox50
Firefox        179        104        129        115        120        116
Core           335        265        289        290        295        295
Android         54         36         50         32         32         35

In [45]:
rfirefox = pfirefox / contributors.loc['Firefox']
rfirefox

       Firefox55  Firefox54  Firefox53  Firefox52  Firefox51  Firefox50
--      2.502793   1.682692   1.736434   2.095652   1.466667   1.594828
P1      1.720670   0.557692   0.782946   1.434783   1.325000   1.172414
P2      0.458101   0.317308   0.581395   0.600000   0.450000   0.551724
P3      0.927374   0.596154   0.697674   0.600000   0.600000   0.405172
P4      0.011173   0.009615   0.015504   0.017391   0.041667   0.017241
P5      0.061453   0.028846   0.054264   0.052174   0.083333   0.094828
Total   5.681564   3.192308   3.868217   4.800000   3.966667   3.836207

In [47]:
rcore = pcore / contributors.loc['Core']
rcore

       Firefox55  Firefox54  Firefox53  Firefox52  Firefox51  Firefox50
--      8.417910   6.101887   6.055363   5.886207   5.220339   5.664407
P1      1.402985   0.743396   1.190311   1.244828   0.881356   0.722034
P2      0.710448   0.343396   0.435986   0.500000   0.281356   0.352542
P3      1.095522   0.777358   1.076125   1.210345   0.911864   0.532203
P4      0.068657   0.011321   0.038062   0.024138   0.020339   0.023729
P5      0.101493   0.067925   0.110727   0.155172   0.125424   0.067797
Total  11.797015   8.045283   8.906574   9.020690   7.440678   7.362712

In [46]:
randroid = pandroid / contributors.loc['Android']
randroid

       Firefox55  Firefox54  Firefox53  Firefox52  Firefox51  Firefox50
--      3.703704   2.444444       2.42    2.50000    1.96875   2.714286
P1      1.018519   1.000000       0.96    1.75000    1.12500   0.628571
P2      0.166667   0.138889       0.28    0.65625    0.31250   0.342857
P3      0.259259   0.083333       0.50    0.15625    0.40625   0.057143
P4           NaN        NaN       0.02        NaN        NaN        NaN
P5           NaN   0.027778       0.10        NaN    0.09375   0.057143
Total   5.148148   3.694444       4.28    5.06250    3.90625   3.800000